body {
    background: gray;
}

button.play {
    width: 36px;
    height: 36px;
    background: url(images/play.png) no-repeat 0 0;
}

.meter {
    width: 160px;
    height: 20px;
}

div.patcher {
    position: relative;
    width: 400px;
    height: 400px;
    background: white;
    border: 1px black;
}

div.obj {
    position: absolute;
    min-width: 30px;
    height: 21px;
    background: rgb(246, 248, 248);
}

div.selected {
    border-color: rgb(0, 0, 240)
}

input.edit-obj {
    position: absolute;
    min-width: 24px;
    height: 19px;
    // border: none;
    border: 1px solid rgb(192, 192, 192);
    padding: 0 2px 0 2px;
    margin: 0;
    background: transparent;
    font: 14px Inconsolata;
}

input.incomplete {
    border-style: dashed;
}

div.port {
    position: absolute;
    background: rgb(80, 80, 128);
    width: 8px;
    height: 3px;
}

div.inlet {
    top: 0%;
}

div.outlet {
    bottom: 0%;
}

canvas.cables {
}

svg.cables {
    width: 400px;
    height: 400px;
}

line.cord {
    stroke: rgb(80, 80, 128);
    stroke-width: 1.5px;
}