div.rc-audio-controls > svg {
    fill: white;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
}

rect.rc-button {
    fill: rgba(0,0,0,0); /* cf. https://stackoverflow.com/questions/6179514/ */
}

div.rc-player {
    position: absolute;
}

.rc-slideshow {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}

.rc-slide {
    /*width: 100%;*/
    /*height: 100%;*/
}

div.rc-drag {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
}