span.rc-play > svg {
    float: left;
    fill: white;
    padding: 0;
    /*background: black;*/
    margin: 0;
}

span.rc-timer {
    float: left;
    /*position: relative;*/
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    /*background: black;*/
    color: white;
    width: 40px;
    padding: 3px 4px 2px 4px;
    margin: 0;
}

span.rc-cue {
    float: left;
    padding-top: 6px;
    /*margin: 0;*/
}

span.rc-volume > svg {
    /*position: relative;*/
    fill: white;
}

div.rc-audio-controls {
    background: black;
    /*vertical-align: bottom;*/
}

div.rc-player {
    position: absolute;
}

.rc-slideshow {
    position: absolute;
}

.rc-slide {
    width: 100%;
    height: 100%;
}